<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bll"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonation"
        tools:targetApi="31">
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.DeleteActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.LogoutActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.SearchlocActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.Aboutus"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.ShowActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.RequestActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pratikpatil.blooddonation.Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>